$white: #ffffff;
$background-grey: #f3f3f3;
$background-blue: #0274bb;
$black-text: #242527;
$black-gradient: rgb(7, 7, 7) 0%, rgb(50, 50, 50) 100%;
$black: #000000;
$yellow-button: #ffce0a;
$yellow-logo: #f6b220;
$profile-grey: #e8e8e8;